.footer-bar {
    border-top-color: #e7eaec;
    border-style: solid solid none;
    border-width: 1px 0;
    background-color: #fff;
  
    button {
      margin: 10px 5px 0px 0px;
      font-size: 12px;
    }
}